@model EMarketApp.Core.Application.ViewModels.CategoryViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Create Category";
}

<form class="row g-3 needs-validation py-5 mt-2" method="POST" asp-controller="AdminCategories" asp-action="@(editMode ? "Edit" : "Create")">
    <div class="col-6 m-md-auto mt-5">
        <div class="card mb-5">
            <div class="card-header bg-black text-white">
                <h4 class="text-center">@(editMode ? $"Editing the category: {Model.Name}" : "Creating a new category")</h4>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4 class="text-center mb-4">Fill in all the fields below</h4>
                </div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"><strong>Name</strong></label>
                    <input type="text" class="form-control" asp-for="Name" name="Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"><strong>Description</strong></label>
                    <textarea type="text" class="form-control" asp-for="Description" rows="4" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-primary float-end mt-2 ms-2">@(editMode ? "Actualizar" : "Registrar")</button>
                <a asp-controller="AdminCategories" asp-action="Index" class="btn btn-dark float-end mt-2">Regresar</a>
            </div>
        </div>
    </div>
</form>
